* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(13, 7, 138);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: beige;
  width: 100vw;
  min-height: 100vh;
}

button {
  padding: 10px;
  background-color: blueviolet;
  color: beige;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 1.3;
}

p {
  line-height: 1.7em;
}


header {
  background-color: rgb(54, 203, 153);
}

header > nav {

}

header > nav > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 100px;
}

header > nav > ul > li {
  display: inline-block;
  padding: 20px;
  font-weight: 700;
  font-size: 15px;
  list-style: none;
  cursor: pointer;
}

li:hover {
  background-color: beige;
  color: blue;
}

li.logo {
  width: 120px;
  text-align: center;
  background-color: rgb(13, 7, 138);
  
  color: hotpink;
  font-weight: 500;
  font-size: 15px;
}

li.logo:hover {
  background-color: hotpink;
  color: blue;
  font-weight: 700;
}


main {
  width: 100%;
  padding: 50px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: center;
}

main > h1 {
  text-align: center;
  font-size: 80px;
  padding-top: 200px;

  grid-column: span 4;
}

main > h2 {
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
  margin-bottom: 50px;
  color: rgb(54, 203, 153);

  grid-column: span 4;
}

main > div {
  margin: 10px;
}

main > form {  /* FORM */
  grid-column: span 4;
  display: block;
  margin: auto;
  padding-bottom: 30px;
}

main > form > input {
  padding: 10px;
}

main > form > .feedback {
  text-align: center;
  padding-top: 30px;
  font-size: 15px;
}

main > section {
  grid-column: span 4;
  display: block;
  margin: auto;
}

